<div class="form-group">
  <label for={{@element.id}}>{{@element.label}}</label>
  {{#each @element.options as |option|}}
    <div class="checkbox-option">
      <input
        type="checkbox"
        name={{@element.id}}
        checked={{option.checked}}
        {{on "change" this.updateSelection}}
      >
      <label for={{option.value}}>{{option.label}}</label>
    </div>
  {{/each}}
</div>
