<div class="field">
  {{#each @element.options as |option|}}
    <div class="control">
      <label class="radio">
        <input
          type="radio"
          name={{@element.id}}
          value={{option.value}}
          checked={{eq @element.value option.value}}
          {{on "change" this.updateSelection}}
        >
        {{option.label}}
      </label>
    </div>
  {{/each}}

  {{#if this.showOtherInput}}
    <div class="control mt-2">
      <input
        type="text"
        class="input"
        placeholder="Please specify"
        {{on "input" this.updateOtherValue}}
      >
    </div>
  {{/if}}
</div>
