<div class="form-group">
  <label for={{this.args.element.id}}>{{this.args.element.label}}</label>
  <input
    type="text"
    id={{this.args.element.id}}
    value={{this.args.element.value}}
    {{on "input" this.updateValue}}
  >
</div>
