<div class="form-group">
  <label for={{@element.id}}>{{@element.label}}</label>
  <input
    type="text"
    id={{@element.id}}
    value={{@element.value}}
    {{on "input" this.updateValue}}
  >
</div>
