<section class="section">
  <div class="container">
    <h3 class="title has-text-centered is-size-3-mobile is-size-3-tablet is-size-2-desktop">
      {{this.surveyTitle}}
    </h3>
     {{!-- Step bar --}}
        <StepBar @currentStep={{this.currentStep}} @totalSteps={{this.totalSteps}} />

    <div class="columns is-centered">
      <div class="column is-half-desktop is-three-quarters-tablet is-full-mobile">

        {{!-- Dynamic Page Content --}}
        <div class="box">
          <h2 class="subtitle">{{this.currentPageConfig.name}}</h2>
          
          {{#each this.currentPageConfig.elements as |element|}}
            {{#if (eq element.type "text")}}
              <div class="field">
                <label class="label" for={{element.id}}>{{element.label}}</label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    id={{element.id}}
                    value={{element.value}}
                    {{on "input" (fn this.updateElementValue element)}}
                  >
                </div>
              </div>
            {{/if}}

            {{#if (eq element.type "radio")}}
              <div class="field">
                <RadioButton @element={{element}} @updateValue={{fn this.updateElementValue element}} />
              </div>
            {{/if}}
            {{#if (eq element.type "checkbox")}}
              <div class="field">
                <Checkbox @element={{element}} @updateValue={{fn this.updateElementValue element}} />
              </div>
            {{/if}}
          {{/each}}
        </div>

        {{!-- Navigation Buttons --}}
        <div class="buttons is-centered mt-4">
          <button
            class="button is-light"
            type="button"
            {{on "click" this.handleBackPage}}
            disabled={{not this.isBackEnabled}}
          >
            Back
          </button>

          <button
            class="button is-primary"
            type="button"
            {{on "click" this.handleNextPage}}
            disabled={{this.isNextDisabled}}
          >
            {{this.btnTitle}}
          </button>
        </div>
        
      </div>
    </div>
  </div>
</section>

{{outlet}}
