{{page-title "Survey"}}
<StepBar @currentStep={{this.currentStep}} @totalSteps={{this.totalSteps}} />

<div class="dynamic-page">
  <h1>{{this.currentPageConfig.name}}</h1>
  
  {{#each this.currentPageConfig.elements as |element|}}
    {{#if (eq element.type "text")}}
      <div class="form-group">
        <label for={{element.id}}>{{element.label}}</label>
        <input
          type="text"
          id={{element.id}}
          value={{element.value}}
          {{on "input" (fn this.updateElementValue element)}}
        >
      </div>
    {{/if}}

    {{#if (eq element.type "radio")}}
      <RadioButton @element={{element}} @updateValue={{fn this.updateElementValue element}} />
    {{/if}}
  {{/each}}

  <button
    type="button"
    {{on "click" this.handleBackPage}}
    disabled={{not this.isBackEnabled}}
  >
    Back
  </button>
  <button
    type="button"
    {{on "click" this.handleNextPage}}
    disabled={{this.isNextDisabled}}
  >
    Proceed
  </button>
</div>


{{outlet}}
